<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitcoin identity server</title>

    <meta charset="UTF-8">
    <meta name="description" content="Data and Signature Anchoring on Bitcoin proof verifier"/>
    <meta name="keywords"
          content="data, signature, anchoring, Bitcoin, blockchain, proof, verify, timestamp, existence, integrity, identity"/>
    <meta name="author" content="Woleet SAS"/>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        {{{style}}}
    </style>

</head>

<body>

<div class="page-header">
    <div class="container">
        <h1 style="color: #258C90;">
            Woleet backend kit<br>
            <small style="color: #b3b8c3;">Bitcoin identity server</small>
        </h1>
    </div>
</div>

<div class="container">
    {{#certError}}
    <div class="code alert alert-danger">
        <h5>Certificate has the following error:</h5>
        <span style="margin-left: 2em">{{certError}}</span>
    </div>
    {{/certError}}
    <h4>The owner of the certificate: <code class="code alert alert-info">{{cert.subject.CN}} ({{cert.subject.O}} {{cert.subject.L}} {{cert.subject.ST}} {{cert.subject.C}})</code></h4>
    <h5>issued by: <code class="code alert alert-info">{{cert.issuer.CN}} ({{cert.issuer.O}} {{cert.issuer.L}} {{cert.issuer.ST}} {{cert.issuer.C}})</code></h5>

    <h4>claims to be the owner of the bitcoin address <code class="code alert alert-info">{{publicKey}}</code></h4>

    <br>

    <div style="display: flex;"><a target="_blank" href="http://btcproof.info/identity?pubKey={{publicKey}}&identityURL={{identityURL}}" class="btn btn-success btn-center">Verify</a></div>

</div>


<span style="color: #b3b8c3; font-size: 10px; position: absolute; top: 5px;right: 5px;">
    This tool is gracefully provided to <a href="https://github.com/woleet/woleet-widget">
    the community</a> by <a href="https://woleet.io">Woleet</a>
</span>

<footer>See <a href="/documentation">documentation</a></footer>

</body>
</html>
